<h1>Django-chartit Chart 1</h1>
<head>
    <!-- code to include the highcharts and jQuery libraries goes here -->
    <script src="/static/dmochrtit/js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="/static/dmochrtit/js/highcharts/highcharts.js" type="text/javascript"></script>
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
    {% load chartit %}
    {{ weatherchart|load_charts:"container" }}
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Reports demo menu</a></li>
            <li><a href="/dmochrtit/">Django-chartit menu</a></li>
        </ul>
    </div>
    <div id="container">chart will be rendered here</div>
</body>

