{% load chartkick %}
<h1>chartkick Chart 1</h1>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="/static/dmochrkck/js/chartkick.js"></script>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Reports demo menu</a></li>
            <li><a href="/dmochrkck/">chartkick menu</a></li>
        </ul>
    </div>
    <div id="container">
        {% line_chart exchange with min=0.0 id='rates' %}
    </div>
</body>

