<h1>Django-graphos Chart 1</h1>
<head>
    <script type="text/javascript" src="/static/dmodjgrap/js/flot/jquery.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/dmodjgrap/js/flot/excanvas.min.js"></script><![endif]-->
    <script src="/static/dmodjgrap/js/flot/jquery.flot.js"></script>
    <script src="/static/dmodjgrap/js/flot/jquery.flot.time.js"></script>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Reports demo menu</a></li>
            <li><a href="/dmodjgrap/">Django-graphos menu</a></li>
        </ul>
    </div>
    <div id="container">
        {{ line_chart.as_html }} 
    </div>
</body>

